<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Links Reduction</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index" ng-controller="IndexController">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Links Reduction</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#page-top" ng-click="changeTemplate('home')">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#links" ng-click="refreshAll()">Links</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about" ng-click="changeTemplate('home')">About</a>
                    </li>
                    <li class="page-scroll">
                        <a style="cursor: pointer" data-toggle="modal" data-target="#loginModal">Log In</a>
                    </li>
                    <li class="page-scroll">
                        <a style="cursor: pointer" data-toggle="modal" data-target="#registrationModal">Sign In</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!--Login modal-->
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content user-modal">
                <div class="modal-header">
                    <h4 class="modal-title">LOG IN</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" id="name_l" ng-model="user.name" placeholder="NAME" required>
                    </div>
                    <input type="password" id="password_l" ng-model="user.password" placeholder="PASSWORD" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="login()">LOG IN</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                </div>
            </div>

        </div>
    </div>

    <!--Registration modal-->
    <div class="modal fade" id="registrationModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content user-modal">
                <div class="modal-header">
                    <h4 class="modal-title">SIGN UP</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" id="name_s" ng-model="user.name" placeholder="NAME" required>
                    </div>
                    <input type="password" id="password_s" ng-model="user.password" placeholder="PASSWORD" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-click="createUser()">SIGN UP</button>
                    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">CLOSE</button>
                </div>
            </div>

        </div>
    </div>

    <div ng-include="template"></div>

    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="/js/IndexController.js"></script>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

    <script>
        $(document).ready(function(){
            // Add smooth scrolling to all links
            $("a").on('click', function(event) {

                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;

                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){

                        window.location.hash = hash;
                    });
                }
            });
        });
    </script>

</html>
