<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="UTF-8">

        <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/css/style.css">

        <title>Links Reduction</title>
    </head>
    <body>
        <div class="container" ng-controller="IndexController">
            <div class="navbar">
                <h3>LINKS REDUCTION</h3>
                <div class="navbar-controls">
                    <a data-toggle="modal" data-target="#loginModal">LOG IN</a>
                    <a data-toggle="modal" data-target="#registrationModal">SIGN UP</a>
                </div>
            </div>

            <!--Login modal-->
            <div class="modal fade" id="loginModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">LOG IN</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" id="name_l" class="form-control" ng-model="user.name" placeholder="NAME">
                            </div>
                            <input type="password" id="password_l" class="form-control" ng-model="user.password" placeholder="PASSWORD">
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="login()">LOG IN</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>

                </div>
            </div>

            <!--Registration modal-->
            <div class="modal fade" id="registrationModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">SIGN UP</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" id="name_s" class="form-control" ng-model="user.name" placeholder="NAME">
                            </div>
                            <input type="password" id="password_s" class="form-control" ng-model="user.password" placeholder="PASSWORD">
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="createUser()">SIGN UP</button>
                            <button type="button" class="btn btn-default close-modal" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>

                </div>
            </div>

            <div id="links">
                <table class="table">
                    <thead>
                        <th>Link</th>
                        <th>Direct to</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="link in linksList">
                            <td>{{link.link}}</td>
                            <td>{{link.direct}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="/js/IndexController.js"></script>
    </body>
</html>