<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="UTF-8">

        <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/css/style.css">

        <title>Links Reduction</title>
    </head>
    <body>

        <div class="container" ng-controller="UserController">
            <div class="navbar">
                <h3>LINKS REDUCTION</h3>
                <div class="navbar-controls">
                    <a ng-click="changeTemplate('reduce')">REDUCE</a>
                    <a ng-click="changeTemplate('all')">ALL LINKS</a>
                    <a ng-click="changeTemplate('my')">MY LINKS</a>
                    <a ng-click="logout()">LOG OUT</a>
                </div>
            </div>

            <div ng-include="template"></div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="/js/UserController.js"></script>
    </body>
</html>