body{
    width: 100vw;
    height: 100vh;
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    font-family: 'Ek Mukta', sans-serif;
    overflow: hidden;
}

.navbar{
    color:white;
}

.navbar h3{
    float: left;
    font-weight: 700;
    color: orangered;
}

.navbar-controls{
    float: right;
    margin-top: 25px;
}

.navbar-controls a{
    color: white;
    font-weight: 700;
    font-size: 16px;
    margin-right: 20px;
}

.navbar-controls a:hover{
    text-decoration: none;
    color: orangered;
    cursor: pointer;
}



.modal-content{
    background: rgb(78, 3, 88);
}

.modal-header{
    text-align: center;
    border-bottom: 1px solid black;
    color:white;
}

.modal-footer{
    border-top: 1px solid black;
}

.modal-header h4,
.modal-body input,
.modal-footer button{
    font-weight: 700;
    font-family: 'Ek Mukta', sans-serif;
}


#links{
    max-height: calc(100vh - 90px);
    background: rgba(0,0,0, 0.2);
    border-radius: 5px;
    color: white;
    overflow: auto;
}

#links thead{
    color: black;
    text-shadow: 1px 1px 0 orange, -1px -1px 0 orange, 1px -1px 0 orange, -1px 1px 0 orange;
}

#reduce{
    margin: 30px auto 50px;
    width: 500px;
    font-weight: 700;
}

#reduce h2,
#reduce h4 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
    font-weight: 700;
}

#reduce h4{
    display: inline;
}

#reduce .btn{
    font-weight: 700;
}

#reduce .tag{
    width: 200px;
}

#reduce .result{
    margin-top: 50px;
}

/*custom scrollbar webkit only*/
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 10px; border-radius: 10px; }
::-webkit-scrollbar-thumb { -webkit-border-radius: 10px; border-radius: 10px; background: rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }